<!doctype html>
<html ng-app="adminApp">

<head>
    <title>Add Room</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Justin's Website</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a id="homeLink" href="/">Home</a></li>
                <li><a id="logoutLink" href="/logout">Logout</a></li>
                <li><a id="editLink" href="/user">Edit User</a></li>
                <li class="active"><a id="addRoom" href="/room-submit">Add Room</a></li>
                <li><a id="testReserveRoom" href="/reserve">Reserve Room (JSON Test)</a></li>
                <li><a id="reserveRoom" href="/reserveRoom">Reserve Room</a></li>
                <li><a id="adminpage" href="/admin-page">Admin Page</a></li>

            </ul>
        </div>
    </nav>

    <div class="content">
        <div ng-controller="MainCtrl">
            <h2 id="welcomeText" style="text-align:center">Add a room</h2>
            <!-- show username variable -->
            <form ng-submit="addRoom()">
                <div class="form-group">
                    <label>Room Name:</label>
                    <input type="text" class="form-control" ng-model="roomname" name="roomname"><br>

                    <label>Weekdays Open:</label>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="sunday"> Sunday</label><br>
                        <label><input type="checkbox" ng-model="monday"> Monday</label><br>
                        <label><input type="checkbox" ng-model="tuesday"> Tuesday</label><br>
                        <label><input type="checkbox" ng-model="wednesday"> Wednesday</label><br>
                        <label><input type="checkbox" ng-model="thursday"> Thursday</label><br>
                        <label><input type="checkbox" ng-model="friday"> Friday</label><br>
                        <label><input type="checkbox" ng-model="saturday"> Saturday</label><br>
                    </div>

                    <label>Open Time:</label>
                    <input type="time" class="form-control" ng-model="opentime" name="opentime"><br>
                    <label>Close Time:</label>
                    <input type="time" class="form-control" ng-model="closetime" name="closetime"><br>

                    <label>Room Capacity:</label>
                    <input type="number" class="form-control" ng-model="capacity" name="capacity" max="5000"><br>
                    <!-- <button type="submit" class="btn btn-primary" id="register" value="Submit Room">-->
                    <button type="submit" class="btn btn-primary">Submit Room</button> <br> <br>
                    <h2 style="text-align:center">{{roominfo}}</h2><br><br>
                </div>
            </form>
        </div>

        <hr>
        <span id="indexMsg">
        <%= msg %>
    </span>
        <hr>
    </div>
    </div>
    </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/admin.js"></script>
</body>

</html>
