<!doctype html>
<html>

<head>
    <title>ERROR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Justin's Website</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a id="homeLink" href="/">Home</a></li>
                <li><a id="logoutLink" href="/logout">Logout</a></li>
                <li><a id="editLink" href="/user">Edit User</a></li>
                <li><a id="addRoom" href="/room-submit">Add Room</a></li>
                <li><a id="testReserveRoom" href="/reserve">Reserve Room (JSON Test)</a></li>
                <li><a id="reserveRoom" href="/reserveRoom">Reserve Room</a></li>
                <li><a id="adminpage" href="/admin-page">Admin Page</a></li>

            </ul>
        </div>
    </nav>
    <h1> Error: Figure out what is wrong or you will fail. </h1>
</body>

</html>
