body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #b6cdfb;
}

a {
  color: #00B7FF;
}

.content {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  margin-left: 15%;
  width: 70%;
  background-color: white;
}

.checkbox {
  margin-left: 16px;
}

.col {
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 2px 5px 4px 5px #888888;
}

div.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #e6e6e6;
}

.modal {
  padding: 35px 30px;
  max-width:60%;
  min-width:750px;
}

.modal a.close-modal {
  top: -4.5px;
  right: -3.5px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
